.hide {
  display: none;
}

a {
  text-decoration: none;
}

.app {
  padding-top: 40px;
}

.swiper {
  height: 100%;
  overflow: hidden;
  transition: translate3d 0.3s ease;
  position: relative;
}

.item {
  height: 100%;
  background-position: center center;
  background-size: cover;
  position: relative;
  overflow: hidden;
  float: left;
  &.active {
    .animated {
      animation-fill-mode: both;
      opacity: 1;
    }
  }
  &:not(.active) {
    .animated {
      animation: none;
      opacity: 0;
    }
  }
}

.number {
  position: absolute;
  top: 16px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 100%;
  text-align: center;
  font-size: 32px;
  font-family: "PingFangHK-Regular";
  color: #FFF;
  background-color: #444;
  z-index: 99;
}

.box {
  margin-left: 60px;
  .border {
    border: 2rpx solid #444;
    border-top: 0;
    margin-bottom: 12px;
  }
}

.title {
  height: 70px;
  background: #444444;
  color: #fff;
  line-height: 44px;
  font-size: 32px;
  display: flex;
  align-items: center;
  .s {
    flex: 2;
    padding-left: 20px;
  }
  .small {
    font-family: "PingFangSC-Light";
    font-size: 24px;
    color: #ffffff;
    line-height: 36px;
    padding-right: 20px;
  }
}

.box-main {
  overflow: hidden;
  position: relative;
}

.box-main-disc {
  width: 500px;
  margin: 0 auto;
  font-family: "PingFangSC-Light";
  font-size: 24px;
  color: #444444;
  line-height: 36px;
  padding-top: 20px;
  padding-bottom: 5px;
}

.box-main-pic {
  width: 500px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  text-align: center;
  &.ww {
    width: 100%;
  }
  &.ba {
    padding-top: 58px;
    padding-bottom: 58px;
    img {
      max-width: 552px;
    }
  }
  img {
    max-width: 100%;
    margin: 0 auto;
  }
}

.tips-box {
  font-family: "PingFangSC-Light";
  font-size: 24px;
  color: #444444;
  line-height: 36px;
  text-align: left;
  position: relative;
  &::after {
    position: absolute;
    content: '';
    width: 55px;
    height: 25px;
    // background: url("../img/tips.png") no-repeat center center;
    // background-size: 100% 100%;
    left: -62px;
    top: 10px;
    z-index: 99;
  }
}

.click-a {
  color: #4ba6ff;
}

.floor {
  padding: 0 20px;
  padding-bottom: 36px;
  position: relative;
  //   text-align: center;
  //   display: flex;
  //   align-items: center;
  &::after {
    content: '';
    position: absolute;
    width: 2px;
    left: 40px;
    background-color: #d8d8d8;
    z-index: 0;
  }
  .loading-success {
    // height: 100%;
  }
}

.floor_1 {
  &::after {
    top: 20px;
    bottom: 0;
  }
  .box-main-pic {
    // height: 403px;
  }
}

.floor_2 {
  &::after {
    top: 0;
    bottom: 0;
  }
}

.floor_3 {
  &::after {
    top: 0;
    bottom: 0;
  }
}

.floor_4 {
  &::after {
    top: 0;
    bottom: 0;
  }
}

.floor_5 {
  &::after {
    top: 0;
    bottom: 0;
  }
}

.floor_6 {
  &::after {
    top: 0;
    bottom: 0;
  }
}

.floor_7 {
  &::after {
    top: 0;
    bottom: 0;
  }
}

.floor_8 {
  &::after {
    top: 0;
    bottom: 0;
  }
}

.floor_9 {
  &::after {
    top: 0;
    bottom: 146px;
  }
}